.splash
  .splash_inner
    .row
      .twelve.columns
        %h1 Help out others within your network!
        .row
          .ten.columns.offset-by-one
            - @weaknesses.each do |w|
              %span= link_to(w.name, w)