.splash
  .splash_inner
    .row
      .twelve.columns
        %h1 What do you need help with today?
        .row
          .ten.columns.offset-by-one
            - @strengths.each do |s|
              %span= link_to(s.name, s)