<!-- Call to Action Panel -->
  <div class="row">
    <div class="twelve columns" style="padding-top: 55px;">
        <h4>It's so good to see you.</h4>

        <div class="row">
          <div class="nine columns">
            <p><strong>tppl</strong> is an enclosed, peer to peer network where you can get and give help from others in your class. Encounter a problem? Please contact us and we'll get back to you as soon as possible.</p>
          </div>
          <div class="three columns">
            <a href="#" class="button right">Contact Us</a>
          </div>
        </div>
    </div>
  </div>